.carousel-inner {
  max-width: 100%;
  height: 600px; /* Set a specific height for the carousel images */
  overflow: hidden;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This property ensures the images cover the container while maintaining aspect ratio */
}

.card-section {
  display: flex;
  min-height: 50vh;
  margin-top: 20px;
  justify-content: center;
  flex-direction: column;
}

.title {
  margin-bottom: 3%;
}

.gallery {
  margin-top: 5%;
}

/* Ensures the card images cover the card width and maintain aspect ratio */
.card-img-top {
  width: 100%;
  height: 200px; /* Set a consistent height for all images */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

/* Makes sure that cards have equal height */
.card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-body {
  flex: 1;
}

.card-footer {
  text-align: center;
}

.equal-width {
  width: 100%;
}

.row {
  display: flex;
}
